<h1>Edit Goal: <%= @goal.title.titlecase %></h1>

<form action="/goals/<%= @goal.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">Title:</label>
  <p> <input id="title" type="text" name="title" value="<%= @goal.title %>"></p>
  <label for="status">Status:</label>
  <p><input id="status" type="text" name="status" value="<%= @goal.status %>"></p>
  <label for="motivation">Motivation:</label>
  <p> <input id="motivation" type="text" name="motivation" value="<%= @goal.motivation %>"></p>
  <p class="formfield">
  <label for="description">Description:</label><br>
  <textarea id="description" name="description"> <%= @goal.description%> </textarea></p>
  <label for="estimated_completion_date">Completion Date(estimate):</label>
 <p> <input id="estimated_completion_date" type="date" name="estimated_completion_date" value="<%= @goal.estimated_completion_date %>"></p>

  <input type="submit" value="Save">
  </form>